.product {
  border: thin grey solid;
  padding: 2em;
}
.product h1 {
  font-size: 26px;
}
.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.info .row {
  margin: 4px;
  padding: 0.1em;
  border: solid thin black;
  display: flex;
  flex-flow: row nowrap;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
